/* Add CSS Styling */

.generic,
.cooler {
    background-color: rgb(255, 192, 203);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.cooler {
    font-size:24px;
}

#unique {
    color:rgb(6, 6, 235);
    font-size:36px;
}

#uniquetoo {
    background-color: rgb(144, 238, 144);
    font-size:24px;
    font-weight:bold;
}