/* Add CSS Styling */

.blk {
    color:white;
    background-color: black;
}

.ylw {
    background-color: yellow;
}

.blk, .ylw {
    font-size:28px;
    font-family: Helvetica, "Times New Roman", sans-serfi;
}